:root {
    --PRIMARY: #ff5757;
    --SECONDARY: #3ea2c4;
    --LIGHT-GREY: #d9d9d9;
    --ERROR: #ff0033;
}

.App {

}
.test1 {
    border: solid blue 3px;
}

.test2 {
    border: solid red 2px;
}

.test3 {
    border: solid green 1.5cm;
}
.brand-image {
    margin: 0 10px;
}

.nav-bg {
    background-color: var(--PRIMARY);
}

.btn-text {
    font-size: 16px;
}

.logout {

}

.error {
    color: var(--ERROR);
    font-size: 0.9rem;
}