:root {
    --PRIMARY: #ff5757;
    --SECONDARY: #3ea2c4;
    --LIGHT-GREY: #d9d9d9;
    --ADD-BTN: #00A3FF;
    --ERROR: #ff0033;
}
.app-container {}

.fixed-container {
    overflow-y: hidden;
    height: 100vh;
}

.max-container {
    height: 100vh;
}

.test1 {
    border: solid blue 1px;
}

.test2 {
    border: solid red 2px;
}

.test3 {
    border: solid green 3px;
}

.test4 {
    border: solid orchid 4px;
}
.brand-image {
    margin: 0 10px;
}

.nav-bg {
    background-color: var(--PRIMARY);
}

.btn-text {
    font-size: 16px;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.error {
    color: var(--ERROR);
    font-size: 0.9rem;
}

.sidebar-header-container {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form-control:valid {
    background-color:  rgba(186, 186, 186, 0.2)!important;
}

.login-nav-link {
    font-size: 1.2em;
}

.divider {
    border-top: 1px solid black;
    margin: 0.5em auto;
}

.search-input:focus {
    outline: none;
    box-shadow: none;
}

.add-btn {
    border-width: 1px;
    border-color:rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
}

.big-btn {
    height: 70px;
    width: 300px;
    font-size: 20px;
}

.icon-btn:hover {
    cursor: pointer;
}

.borderless:focus {
    outline: none
}

.text-editor {
    min-height: 500px;
}

